---
const pageTitle = "Pagina de inicio";
---

<!DOCTYPE html>

<html lang="en">
<head>
    <title>{pageTitle}</title>
</head>
<a href="/">Inicio</a>
<a href="/about/">Sobre mi</a>
<a href="/blog/">Blog</a>
<body>
    <h1>{pageTitle} Astro</h1>
    <h1>Mi sitio Astro</h1>
</body>
</html>