<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pagina inicial Astro</title>
</head>
<a href="/">Inicio</a>
<a href="/about/">Sobre mi</a>
<a href="/blog/">Blog</a>
<body>
    <h1>Astro</h1>
    <h1>Mi sitio Astro</h1>
</body>
</html>